<!DOCTYPE html>
<html ng-app = "app">
	<head>
		<meta charset="UTF-8">
		<script src="//cdn.bootcss.com/angular.js/1.6.3/angular.js"></script>
		<title></title>
	</head>
	<body ng-controller="homeController">
			<p>
        		<lable for="title-input">title</lable>
        		<input type="text" id="title-input" ng-model='book.title'/>
<p ng-bind="book.title"></p>
		</p>
		<p>
        		<lable for="price-input">price</lable>
        		<input ng-model='book.price' type="number" id="price-input" />
<p ng-bind="book.price"></p>
		</p>
		<button ng-click='toSave(book)' value="">save</button>
		<!--track 可以解决在遍历数组的时候出现重复内容会报错的情况(angular在遍历数组的时候会给每一个内容加一个hashkey用于区分是不是重复的内容)可以通过一个唯一的标识让angular查看它是不是有重复的 track by utem.id or track by $index  需要注意的是如果对数组进行排序track by 需要写在排序后面-->
		<div ng-repeat="item in books track by $index">
			<h1 ng-bind="item.title"></h1>	
			<p ng-bind="item.price"></p>
		</div>
	</body>
		<script src="js/models.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/services.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/controllers.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/app.js" type="text/javascript" charset="utf-8"></script>
</html>
