<ion-tabs class="tabs-energized">
	//icon-on 接类名所以可以自定义图标
	<ion-tab ui-sref="tabs.recorders" title="recorders" icon-on="ion-ios-book-outline" icon-off="ion-ios-book">
		<ion-nav-view name="tab-recorders"></ion-nav-view>
	</ion-tab>
	<ion-tab ui-sref="tabs.friends" title="friends" icon-on="ion-ios-book-outline" icon-off="ion-ios-book">
		<ion-nav-view name="tab-friends"></ion-nav-view>
	</ion-tab>
	<ion-tab ui-sref="tabs.circle" title="circle" icon-on="ion-ios-book-outline" icon-off="ion-ios-book">
		<ion-nav-view name="tab-circle"></ion-nav-view>
	</ion-tab>
	<ion-tab ui-sref="tabs.setting" title="setting" icon-on="ion-ios-book-outline" icon-off="ion-ios-book">
		<ion-nav-view name="tab-setting"></ion-nav-view>
	</ion-tab>

</ion-tabs>