<ion-view title="记录">
  <ion-content>
    <ul class="recorders_list">
      <li class="recorders_item">
        <div class="recorders_left">
          <button></button>
        </div>
        <div class="recorders_centre">
          <h2>教学会议</h2>
          <p>会议的详细内容</p>
        </div>
       <div class="recorders_right">
         <button>完</button>
         <p>优才学院 2017-04-05 09:31</p>
       </div>
      </li>
      <li class="recorders_item">
        <div class="recorders_left">
          <button></button>
        </div>
        <div class="recorders_centre">
          <h2>吃饭</h2>
          <p>吃饭</p>
        </div>
        <div class="recorders_right">
          <button>完</button>
          <p>天安门 2016-08-15 10:38</p>
        </div>
      </li><li class="recorders_item">
      <div class="recorders_left">
        <button  style="background:#9c020e "></button>
      </div>
      <div class="recorders_centre">
        <h2>跑步</h2>
        <p>八大处跑步</p>
      </div>
      <div class="recorders_right">
        <button style="background:#9c020e ">未</button>
        <p>优才学院 2017-04-05 09:31</p>
      </div>
    </li><li class="recorders_item">
      <div class="recorders_left">
        <button></button>
      </div>
      <div class="recorders_centre">
        <h2>教学会议</h2>
        <p>会议的详细内容</p>
      </div>
      <div class="recorders_right">
        <button>完</button>
        <p>优才学院 2017-04-05 09:31</p>
      </div>
    </li>
    </ul>
  </ion-content>
</ion-view>
