body .view {
  padding-top: 1.1rem;
}
.btn {
  background: red;
  color: #fff;
}
/**
 * 媒体查询断点540px
 */
@media only screen and (min-width: 540px) {
  .nav-bar {
    width: 100% !important;
  }
  .nav-bar.nav-bar-top {
    background-size: 100% 1.2rem !important;
  }
  .nav-bar .btn-search {
    margin-right: 0.5rem !important;
  }
}
.container {
  width: 10rem;
  margin: 0 auto;
  padding-bottom: 1.3rem;
}
.nav-bar {
  width: 10rem;
  height: 1.1rem;
  position: fixed;
  left: 0;
  overflow: hidden;
  z-index: 99999;
}
.nav-bar.nav-bar-top {
  top: 0;
  background: url('http://7qn7hi.com1.z0.glb.clouddn.com/ware/orig/2/23/23460.png') center no-repeat;
  background-size: 10rem 1.2rem;
}
.nav-bar.nav-bar-bottom {
  bottom: 0;
  background-color: #24272F;
}
.nav-bar.nav-bar-bottom .nav-bottom-cantainer {
  width: 10rem;
  margin: 0 auto;
}
.nav-bar.nav-bar-bottom a {
  display: block;
  width: 2.5rem;
  float: left;
  padding: 0.07rem 0;
}
.nav-bar.nav-bar-bottom a img {
  width: 0.7rem;
  height: 0.9rem;
  display: block;
  margin: 0 auto;
  opacity: 0.5;
}
.nav-bar.nav-bar-bottom a img:hover {
  opacity: 1;
}
.nav-bar.nav-bar-bottom a:nth-child(3) img {
  width: 0.9rem;
}
.nav-bar.nav-bar-bottom a:nth-child(1) img {
  opacity: 1;
}
.nav-bar .form-control {
  float: left;
  margin-left: 0.70rem;
  margin-top: 0.39rem;
  font-size: 0.28rem;
  width: 5.63rem;
  height: 0.4rem;
  line-height: 0.35rem;
  border: 0;
  border: none;
}
.nav-bar .btn-search {
  float: right;
  width: 1.12rem;
  height: 1.12rem;
  margin-right: 0rem;
}
/**
     * 商品展示区样式
 */
.diary {
  background-color: #fff;
  text-align: center;
  padding: 0.5rem 0;
  height: 0.7rem;
}
.diary::after {
  content: "";
  display: table;
}
.diary img {
  width: 3rem;
  height: 0.5rem;
}
.goods-hot {
  overflow: hidden;
  background: white;
}
.goods-hot::after {
  content: ' ';
  display: table;
}
.goods-hot .item {
  background-color: #f1f1f1;
  float: left;
  margin-left: 0.25rem;
  margin-bottom: 0.25rem;
  width: 3rem;
  height: 4.65rem;
  overflow: hidden;
}
.goods-hot .item a {
  color: black;
}
.goods-hot .item img {
  width: 3rem;
  height: 3rem;
}
.goods-hot .item .desc {
  height: 0.9rem;
  margin-left: 5%;
  font-size: 0.3rem;
  width: 90%;
  line-height: 1.5;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.goods-hot .item .price {
  text-align: center;
  font-size: 0.3rem;
  line-height: 0.32rem;
  margin-bottom: 0.28rem;
  margin-top: 0.15rem;
}
.goods {
  background-color: #fff;
  width: 10rem;
  height: 100rem;
}
.goods .goods-item {
  width: 100%;
  height: 5rem;
  overflow: hidden;
}
.goods .goods-item:nth-child(2n-1) {
  background: #24272f;
}
.goods .goods-item:nth-child(2n-1) img {
  width: 5rem;
  height: 5rem;
}
.goods .goods-item:nth-child(2n) img {
  width: 10rem;
  height: 5rem;
}
/**
 	* footer
 */
.footer-container .footer {
  float: left;
}
.footer-container .footer a {
  color: black;
  margin-left: 0.24rem;
}
.footer-container .footer a img {
  width: 3rem;
  height: 1.84rem;
}
.footer-container .tel {
  text-align: center;
}
.footer-container .tel img {
  width: 9.4rem;
  height: 0.31rem;
}
.footer-container .server-tel {
  text-align: center;
  font-size: 0.4rem;
}
.footer-container .server-tel a {
  color: #000;
}
.footer-container .work-time {
  text-align: center;
  font-size: 0.3rem;
  color: #c2c2c2;
}
.contect-server {
  position: fixed;
  right: 10%;
  bottom: 9%;
  z-index: 1000;
  color: #fff;
  font-size: 0.3rem;
  background-color: #5b799a;
  float: right;
  width: 1.6rem;
  height: 0.7rem;
  border-radius: 0.05rem;
  text-align: center;
  line-height: 0.7rem;
}
/**
 	* 热卖商品分类
 */
.classify-view {
  width: 100%;
  overflow: hidden;
}
.classify-view .nav-bar {
  box-shadow: 0 0 0.125rem #727070;
  -webkit-box-shadow: 0 0 0.125rem #727070;
  width: 100%;
  height: 1.25rem;
  background: #24272f;
  margin-top: 0.01rem;
  z-index: 1000;
}
.classify-view .nav-bar .welcome-logo {
  margin-top: 0.15rem;
  height: 1.09rem;
  line-height: 1.09rem;
  margin-left: 0.31rem;
  float: left;
}
.classify-view .nav-bar .welcome-logo a {
  color: #fff;
  font-size: 0.4rem;
  text-decoration: none;
  font-weight: bold;
}
.classify-view .nav-bar .welcome-logo a img {
  width: 0.5rem;
  height: 0.54rem;
}
.classify-view .nav-bar .welcome-div {
  margin-top: 0rem;
  height: 1.25rem;
  line-height: 1.25rem;
  margin-left: 0.18rem;
  width: 1.56rem;
  float: left;
}
.classify-view .nav-bar .welcome-div a {
  color: #fff;
  font-size: 0.4rem;
  text-decoration: none;
  font-weight: bold;
}
.classify-view .nav-bar .title-div {
  color: #fff;
  margin-top: 0rem;
  margin-left: 1.25rem;
  width: 2.5rem;
  height: 1.25rem;
  line-height: 1.25rem;
  font-size: 0.4rem;
  float: left;
  text-align: center;
}
.classify-view .nav-bar .login-div {
  margin-top: 0rem;
  margin-right: 0.37rem;
  height: 1.25rem;
  line-height: 1.25rem;
  float: right;
}
.classify-view .nav-bar .login-div a {
  color: #fff;
  font-size: 0.4rem;
  text-decoration: none;
}
.classify-view .main-container {
  margin-top: 1.25rem;
}
.classify-view .classify-item {
  width: 100%;
  height: 5.59rem;
  background-size: cover;
  position: relative;
}
.classify-view .classify-item .layer {
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 5.59rem;
  position: absolute;
}
.classify-view .classify-item .desc {
  color: #fff;
  font-size: 0.4rem;
  width: 100%;
  text-align: center;
  padding-top: 2.59rem;
  position: absolute;
  z-index: 10;
}
.classify-view .classify-item:nth-child(3n) {
  background-image: url('http://imgs-qn.iliangcang.com/ware/appimg/topic/cover/1599_.jpg?_t=1478764517');
}
.classify-view .classify-item:nth-child(3n+1) {
  background-image: url('http://imgs-qn.iliangcang.com/ware/appimg/topic/cover/1598_.jpg?_t=1478696769');
}
.classify-view .classify-item:nth-child(3n+2) {
  background-image: url('http://imgs-qn.iliangcang.com/ware/appimg/topic/cover/1597_.jpg?_t=1478605562');
}
/**
 	* 商品列表
 */
.shop-list {
  width: 100%;
  overflow: hidden;
  padding-top: 1.45rem;
}
.shop-list .shop-item {
  margin-left: 0.21rem;
  background: #fff;
  width: 4.68rem;
  display: block;
  float: left;
}
.shop-list .shop-item a {
  color: #000;
}
.shop-list .shop-item img {
  width: 4.68rem;
  height: 4.68rem;
  border-radius: 0.1rem 0.1rem 0 0;
}
.shop-list .shop-item .desc {
  margin-top: -7px;
  padding-top: 7px;
  height: 2.5rem;
  width: 4.66rem;
  box-shadow: 0 0 0.06rem #afaeae;
  -webkit-box-shadow: 0 0 0.06rem #afaeae;
  border-radius: 0 0 0.06rem 0.06rem;
  clear: right;
}
.shop-list .shop-item .desc::after {
  content: " ";
  display: table;
  clear: both;
}
.shop-list .shop-item .desc .div-name {
  margin: 0 auto;
  line-height: 1.5;
  word-break: break-all;
  width: 95%;
  height: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  clear: right;
}
.shop-list .shop-item .desc .div-name::after {
  content: " ";
  display: table;
  clear: both;
}
.shop-list .shop-item .price {
  width: 14.07rem;
  float: left;
  margin-top: 0.4rem;
  margin-left: 0.4rem;
  height: 0.37rem;
  color: #3193F3;
  font-size: 0.37rem;
}
/*
 * 弹出层
 */
.layui-m-layer-msg .layui-m-layercont {
  width: 8rem;
  height: 2rem;
  line-height: 2rem;
  font-size: 0.43rem;
}
/**
 	* 商品详情页
 */
.add-goods-btn {
  width: 100%;
  height: 1.09rem;
  text-align: center;
  line-height: 1.09rem;
  vertical-align: middle;
  position: fixed;
  z-index: 100000;
  bottom: 0rem;
  color: #fff;
  background: #60a9d7;
  font-size: 0.34rem;
  border-color: #60a9d7;
}
.add-goods-btn img {
  width: 10%;
  vertical-align: middle;
}
.info-content {
  background: #fff;
  width: calc(99.59%);
  padding: 0rem 0.2rem;
}
.info-content .goodsName {
  background: #fff;
  height: 1.17rem;
  font-size: 0.37rem;
  line-height: 1.7;
  vertical-align: middle;
  margin-top: 0.28rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-left: 0.23rem;
  width: 90%;
}
.info-content .txtCon {
  width: 9.7rem;
  background: #fff;
  font-size: 0.3rem;
  line-height: 0.62rem;
  color: #666;
  margin-top: 0.15rem;
  word-break: break-all;
  word-wrap: break-word;
}
.info-content .goodsDetail {
  background: #fff;
  float: left;
  width: 100%;
}
.info-content .goodsDetail .mainImg {
  width: 96%;
}
.info-content .price {
  font-size: 0rem;
  vertical-align: bottom;
  line-height: 0.31rem;
  margin-top: 0.2rem;
}
.info-content .price .cur {
  display: inline-block;
  color: #0c79cc;
  font-weight: bold;
}
.info-content .price .cur b {
  font-weight: bold;
}
.info-content .price .cur span {
  color: #0c79cc;
}
.info-content .price .dis {
  font-size: 0.42rem;
  display: inline-block;
  color: #666;
  margin-left: 0.15rem;
  font-weight: bold;
  text-decoration: line-through;
}
.line {
  float: left;
  margin-top: 0.15rem;
  border: 0.01rem solid #e5e5e5;
  width: 100%;
  margin: 0.23rem 0rem;
  font-size: 0rem;
  clear: both;
}
.skuInfo {
  margin-top: 0rem;
  clear: both;
  float: left;
  width: calc(99.59%);
  padding: 0rem 0.2rem;
}
.skuInfo .title {
  float: left;
  width: 100%;
  font-size: 0.37rem;
  line-height: 0.28rem;
  padding-top: 0.23rem;
  padding-bottom: 0.23rem;
}
.skuInfo ul {
  float: left;
  width: 100%;
  margin-top: 0.31rem;
}
.skuInfo ul li {
  float: left;
  margin: 0rem 0.12rem 0.12rem 0rem;
  display: block;
  height: 1rem;
  text-align: center;
  vertical-align: middle;
}
.skuInfo ul .minus {
  width: 0.7rem;
  height: 0.7rem;
  line-height: 0.7rem;
  border: 0.04rem solid #d9d9d9;
  margin: 0rem 0rem 0.12rem 0rem;
  background: url('http://www.iliangcang.com/images/wap/minus10_10.png') no-repeat center center;
}
.skuInfo ul .nums {
  width: 1.09rem;
  height: 0.7rem;
  line-height: 0.7rem;
  border: 0.04rem solid #d9d9d9;
  border-left: 0rem;
  border-right: 0rem;
  margin: 0rem 0rem 0.12rem 0rem;
  font-size: 0.37rem;
}
.skuInfo ul .plus {
  width: 0.7rem;
  height: 0.7rem;
  line-height: 0.7rem;
  border: 0.04rem solid #d9d9d9;
  margin: 0rem 0rem 0.12rem 0rem;
  background: url('http://www.iliangcang.com/images/wap/add10_10.png') no-repeat center center;
}
