.box {
  width: 200px;
  height: 200px;
  background-color: black;
}
.box .one {
  width: 100px;
  height: 100px;
  background: green;
}
.nav {
  width: 200px;
  height: 200px;
  background-color: black;
}
.nav .one {
  width: 100px;
  height: 100px;
  background: green;
}
