<!--发布新闻：保存到localstorage里面
	图片：绝对路径图片 标题详细信息
	浏览新闻：读取localstorage里面的数据
-->
<!DOCTYPE html>
<html ng-app="app">
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<script src="lib/bower_components/angular/angular.js" type="text/javascript" charset="utf-8"></script>
	<body>
		<div ng-controller="postNewsController">
			<p>picture:<input type="text" ng-model="news.image" /></p>
			<p>title:<input type="text" ng-model="news.title" /></p>
			<p>details:<input type="text" ng-model="news.des" /></p>
			<button ng-click="toPost(news)">release</button>
		</div>
		<div ng-controller="readNewsController">
		{{num}}
			<button ng-click="update()">Update</button>
			<ul style="list-style: none;">
				<li ng-repeat="news in list track by $index">
					<img ng-src="{{news.imagePath}}" alt="" />
					<h3 ng-bind='news.title'></h3>
					<p ng-bind='news.des'></p>
					<hr />
				</li>
			</ul>
		</div>
	</body>
	<script src="js/News.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/Services.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/Controllers.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/app.js" type="text/javascript" charset="utf-8"></script>
</html>
