/* Empty. Add your own CSS if you like */
/*.titel-color{*/
  /*color: #ffffff;*/
/*}*/
/*.titel-on-color{*/
  /*color: lawngreen;*/
/*}*/
.recorders_item{height:100px;overflow: hidden;border-bottom: 1px solid #dddddd}
.recorders_item div{float: left;height:100%;}
.recorders_item div button{border-radius: 50%;}
.recorders_left{ width:10%;line-height: 100%; text-align: center; }
.recorders_centre{margin:2% 0  0 5%;width:53%;}
.recorders_right{float: right;width:30%;line-height: 100%; text-align: center;margin-right: 2%}
.recorders_left button{width:20px;height: 20px;background: #0c60ee;margin: 40px auto;line-height: 60px;  }
.recorders_right button{width:40px;height: 40px;margin: 10px auto;color:#ffffff;background: #0c60ee }
.recorders_item div h2{font-size: 16px;}
.recorders_item div p{font-size: 12px;}

