/*********************
 * 
 * author: Song Liping;
 * version: 1.0-0223;
 * 
 * ********************/
/**head**/

.navbar {
    min-height: 60px;
    background: #24272f;
    -webkit-box-shadow: 0 0 8px #727070;
       -moz-box-shadow: 0 0 8px #727070;
            box-shadow: 0 0 8px #727070;
}
.btn-lg {
    width: 90%;
    margin: 0 auto;
    border-color: #727070;
    background-color: #24272f;
}
#inputUsername3,
#inputPassword3 {
    width: 90%;
    margin: 0 auto;
    border: 0;
    border-bottom: solid 1px #000;
    border-radius: 0;
    outline: none;
    box-shadow: none;
}
.checkbox {
    margin-left: 5%;
}
.navbar-header
h3 {
    color: #fff;
}
.btn-lg {
    margin-bottom: 5%;
}
