// 
//  index.less
//  <project>
//  
//  Created by song on 2017-02-25.
//  Copyright 2017 song. All rights reserved.
// 

@border: #727070;
@background: #24272f;
@color: #fff;
body {
    background: fade(@background,20%);
    .view {
        padding-top: 1.1rem;
    }
}
.btn-varant(@btncolor:red) {
    color: @color;
    background: @btncolor;
}
.btn {
    .btn-varant();
}
/**
 * 媒体查询断点540px
 */
@media only screen and (min-width: 540px) {
    .nav-bar {
        width: 100% !important;
        &.nav-bar-top {
            background-size: 100% 1.2rem !important;
        }
        .btn-search {
            margin-right: .5rem !important;
        }
    }
}
.container {
    width: 10rem;
    margin: 0 auto;
    background: red;
}
.nav-bar {
    position: fixed;
    z-index: 99999;
    left: 0;
    overflow: hidden;
    width: 10rem;
    height: 1.1rem;
    &.nav-bar-top {
        top: 0;
        background: url("http://7qn7hi.com1.z0.glb.clouddn.com/ware/orig/2/23/23460.png") center no-repeat;
        background-size: 10rem 1.2rem;
    }
    &.nav-bar-bottom {
        bottom: 0;
        background-color: @background;
        .nav-bottom-cantainer {
            width: 10rem;
            margin: 0 auto;
        }
        a {
            display: block;
            float: left;
            width: 2.5rem;
            padding: .07rem 0;
            img {
                display: block;
                width: .7rem;
                height: .9rem;
                margin: 0 auto;
                opacity: .5;
                &:hover {
                    opacity: 1;
                }
            }
            &:nth-child(3) {
                img {
                    width: .9rem;
                }
            }
            &:nth-child(1) {
                img {
                    opacity: 1;
                }
            }
        }
    }
    .form-control {
        float: left;
        width: 5.63rem;
        height: .35rem;
        margin-top: .39rem;
        margin-left: .70rem;
        border: 0;
        border: none;
        font-size: .28rem;
        line-height: .35rem;
    }
    .btn-search {
        float: right;
        width: 1.12rem;
        height: 1.12rem;
        margin-right: 0rem;
    }
}
