// 
//  index.less
//  <project>
//  
//  Created by song on 2017-02-25.
//  Copyright 2017 song. All rights reserved.
// 

@border: #727070;
@background: #24272f;
@color: #fff;
body {
    .view {
        padding-top: 1.1rem;
    }
}
.btn-varant(@btncolor:red) {
    color: @color;
    background: @btncolor;
}
.btn {
    .btn-varant();
}
/**
 * 媒体查询断点540px
 */
@media only screen and (min-width: 540px) {
    .nav-bar {
        width: 100% !important;
        &.nav-bar-top {
            background-size: 100% 1.2rem !important;
        }
        .btn-search {
            margin-right: .5rem !important;
        }
    }
}
.container {
    width: 10rem;
    margin: 0 auto;
    padding-bottom: 1.3rem;
}
.nav-bar {
    position: fixed;
    z-index: 99999;
    left: 0;
    overflow: hidden;
    width: 10rem;
    height: 1.1rem;
    &.nav-bar-top {
        top: 0;
        background: url("http://7qn7hi.com1.z0.glb.clouddn.com/ware/orig/2/23/23460.png") center no-repeat;
        background-size: 10rem 1.2rem;
    }
    &.nav-bar-bottom {
        bottom: 0;
        background-color: @background;
        .nav-bottom-cantainer {
            width: 10rem;
            margin: 0 auto;
        }
        a {
            display: block;
            float: left;
            width: 2.5rem;
            padding: .07rem 0;
            img {
                display: block;
                width: .7rem;
                height: .9rem;
                margin: 0 auto;
                opacity: .5;
                &:hover {
                    opacity: 1;
                }
            }
            &:nth-child(3) {
                img {
                    width: .9rem;
                }
            }
            &:nth-child(1) {
                img {
                    opacity: 1;
                }
            }
        }
    }
    .form-control {
        float: left;
        width: 5.63rem;
        height: .4rem;
        margin-top: .39rem;
        margin-left: .70rem;
        border: 0;
        border: none;
        font-size: .28rem;
        line-height: .35rem;
    }
    .btn-search {
        float: right;
        width: 1.12rem;
        height: 1.12rem;
        margin-right: 0rem;
    }
}
/**
     * 商品展示区样式
 */
.diary {
    height: .7rem;
    padding: .5rem 0;
    text-align: center;
    background-color: #fff;
    &::after {
        content: "";
        display: table;
    }
    img {
        width: 3rem;
        height: .5rem;
    }
}
.goods-hot {
    overflow: hidden;
    background: white;
    &::after {
        content: " ";
        display: table;
    }
    .item {
        float: left;
        overflow: hidden;
        width: 3rem;
        height: 4.65rem;
        margin-bottom: .25rem;
        margin-left: .25rem;
        background-color: rgb(241,241,241);
        a {
            color: black;
        }
        img {
            width: 3rem;
            height: 3rem;
        }
        .desc {
            display: -webkit-box;
            overflow: hidden;
            width: 90%;
            height: .9rem;
            margin-left: 5%;
            font-size: .3rem;
            line-height: 1.5;
            text-overflow: ellipsis;
            word-break: break-all;

            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
        }
        .price {
            margin-top: .15rem;
            margin-bottom: .28rem;
            font-size: .3rem;
            line-height: .32rem;
            text-align: center;
        }
    }
}

.goods {
    width: 10rem;
    height: 100rem;
    background-color: #fff;
    .goods-item {
        overflow: hidden;
        width: 100%;
        height: 5rem;
        &:nth-child(2n-1) {
            background: fade(@background,100%);
            img {
                width: 5rem;
                height: 5rem;
            }
        }
        &:nth-child(2n) {
            img {
                width: 10rem;
                height: 5rem;
            }
        }
    }
}
/**
 	* footer
 */
.footer-container {
    .footer {
        float: left;
        a {
            margin-left: .24rem;
            color: black;
            img {
                width: 3rem;
                height: 1.84rem;
            }
        }
    }
    .tel {
        text-align: center;
        img {
            width: 9.4rem;
            height: .31rem;
        }
    }
    .server-tel {
        font-size: .4rem;
        text-align: center;
        a {
            color: #000;
        }
    }
    .work-time {
        font-size: .3rem;
        text-align: center;
        color: #c2c2c2;
    }
}
.contect-server {
    position: fixed;
    z-index: 1000;
    right: 10%;
    bottom: 9%;
    float: right;
    width: 1.6rem;
    height: .7rem;
    font-size: .3rem;
    line-height: .7rem;
    text-align: center;
    color: #fff;
    border-radius: .05rem;
    background-color: #5b799a;
}
/**
 	* 热卖商品分类
 */
.classify-view {
    overflow: hidden;
    width: 100%;
    .nav-bar {
        z-index: 1000;
        overflow: visible;
        width: 100%;
        height: 1.25rem;
        margin-top: .01rem;
        background: #24272f;
        -webkit-box-shadow: 0 0 .125rem #727070;
                box-shadow: 0 0 .125rem #727070;
        .welcome-logo {
            float: left;
            height: 1.09rem;
            margin-top: .15rem;
            margin-left: .31rem;
            line-height: 1.09rem;
            a {
                font-size: .4rem;
                font-weight: bold;
                text-decoration: none;
                color: #fff;
                img {
                    width: .5rem;
                    height: .54rem;
                }
            }
        }
        .welcome-div {
            float: left;
            width: 1.56rem;
            height: 1.25rem;
            margin-top: 0rem;
            margin-left: .18rem;
            line-height: 1.25rem;
            a {
                font-size: .4rem;
                font-weight: bold;
                text-decoration: none;
                color: #fff;
            }
        }
        .title-div {
            float: left;
            width: 2.5rem;
            height: 1.25rem;
            margin-top: 0rem;
            margin-left: 1.25rem;
            font-size: .4rem;
            line-height: 1.25rem;
            text-align: center;
            color: #fff;
        }
        .login-div {
            float: right;
            height: 1.25rem;
            margin-top: 0rem;
            margin-right: .37rem;
            line-height: 1.25rem;
            a {
                font-size: .4rem;
                text-decoration: none;
                color: #fff;
            }
        }
        .profile-div {
            float: right;
            margin-top: .32rem;
            margin-right: .37rem;
            img {
                width: .46rem;
                height: .54rem;
            }
        }
        .cart-div {
            float: right;
            width: .54rem;
            height: .54rem;
            margin-top: .32rem;
            margin-right: .65rem;
            a {
                color: black;
                img {
                    width: .54rem;
                    height: .54rem;
                }
                .tip-div {
                    position: absolute;
                    z-index: 100;
                    top: .21rem;
                    width: .34rem;
                    height: .34rem;
                    margin-left: .34rem;
                    img {
                        width: .34rem;
                        height: .34rem;
                    }
                    #global-cart-num {
                        position: absolute;
                        z-index: 101;
                        top: .01rem;
                        overflow: hidden;
                        width: .34rem;
                        height: .34rem;
                        font-size: .25rem;
                        line-height: .34rem;
                        text-align: center;
                        color: #fff;
                    }
                }
            }
        }
        #logout-div {
            display: none;
            width: 100%;
            height: 3.75rem;
            margin-top: 1.25rem;
            background: #f00;
            a {
                color: #333;
                div {
                    width: 10rem;
                    height: 1.25rem;
                    margin-top: 0rem;
                    font-size: .5rem;
                    font-weight: bold;
                    line-height: 1.25rem;
                    text-align: center;
                    background: #fff;
                }
            }
        }
    }
    .main-container {
        margin-top: 1.25rem;
    }
    .classify-item {
        position: relative;
        width: 100%;
        height: 5.59rem;
        background-size: cover;
        .layer {
            position: absolute;
            width: 100%;
            height: 5.59rem;
            background: fade(#000,30%);
        }
        .desc {
            position: absolute;
            z-index: 10;
            width: 100%;
            padding-top: 2.59rem;
            font-size: .4rem;
            text-align: center;
            color: #fff;
        }
        &:nth-child(3n) {
            background-image: url("http://imgs-qn.iliangcang.com/ware/appimg/topic/cover/1599_.jpg?_t=1478764517");
        }
        &:nth-child(3n+1) {
            background-image: url("http://imgs-qn.iliangcang.com/ware/appimg/topic/cover/1598_.jpg?_t=1478696769");
        }
        &:nth-child(3n+2) {
            background-image: url("http://imgs-qn.iliangcang.com/ware/appimg/topic/cover/1597_.jpg?_t=1478605562");
        }
    }
}
/**
 	* 商品列表
 */
.shop-list {
    overflow: hidden;
    width: 100%;
    padding-top: 1.45rem;
    .shop-item {
        display: block;
        float: left;
        width: 4.68rem;
        margin-left: .21rem;
        background: #fff;
        a {
            color: #000;
        }
        img {
            width: 4.68rem;
            height: 4.68rem;
            border-radius: .1rem .1rem 0 0;
        }
        .desc {
            clear: right;
            width: 4.66rem;
            height: 2.5rem;
            margin-top: -7px;
            padding-top: 7px;
            border-radius: 0 0 .06rem .06rem;
            -webkit-box-shadow: 0 0 .06rem #afaeae;
                    box-shadow: 0 0 .06rem #afaeae;
            &::after {
                content: " ";
                display: table;
                clear: both;
            }
            .div-name {
                display: -webkit-box;
                clear: right;
                overflow: hidden;
                width: 95%;
                height: 1rem;
                margin: 0 auto;
                line-height: 1.5;
                    text-overflow: ellipsis;
                -ms-text-overflow: ellipsis;
                word-break: break-all;

                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                &::after {
                    content: " ";
                    display: table;
                    clear: both;
                }
            }
        }
        .price {
            float: left;
            width: 14.07rem;
            height: .37rem;
            margin-top: .4rem;
            margin-left: .4rem;
            font-size: .37rem;
            color: #3193f3;
        }
    }
}
/*
 * 弹出层
 */
.layui-m-layer-msg .layui-m-layercont {
    width: 8rem;
    height: 2rem;
    font-size: .43rem;
    line-height: 2rem;
}
/**
 	* 商品详情页
 */
.add-goods-btn {
    position: fixed;
    z-index: 100000;
    bottom: 0rem;
    width: 100%;
    height: 1.09rem;
    border-color: #60a9d7;
    font-size: .34rem;
    line-height: 1.09rem;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    background: #60a9d7;
    img {
        width: 10%;
        vertical-align: middle;
    }
}
.info-content {
    width: calc(100%-.41rem);
    padding: 0rem .2rem;
    background: #fff;
    .goodsName {
        display: -webkit-box;
        overflow: hidden;
        width: 90%;
        height: 1.17rem;
        margin-top: .28rem;
        margin-left: .23rem;
        font-size: .37rem;
        line-height: 1.7;
        vertical-align: middle;
        text-overflow: ellipsis;
        background: #fff;

        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
    .txtCon {
        width: 9.7rem;
        margin-top: .15rem;
        font-size: .3rem;
        line-height: .62rem;
        word-wrap: break-word;
        word-break: break-all;
        color: #666;
        background: #fff;
    }
    .goodsDetail {
        float: left;
        width: 100%;
        background: #fff;
        .mainImg {
            width: 96%;
        }
    }
    .price {
        margin-top: .2rem;
        font-size: 0rem;
        line-height: .31rem;
        vertical-align: bottom;
        .cur {
            display: inline-block;
            font-weight: bold;
            color: #0c79cc;
            b {
                font-weight: bold;
            }
            span {
                color: #0c79cc;
            }
        }
        .dis {
            display: inline-block;
            margin-left: .15rem;
            font-size: .42rem;
            font-weight: bold;
            text-decoration: line-through;
            color: #666;
        }
    }
}
.line {
    float: left;
    clear: both;
    width: 100%;
    margin: .23rem 0rem;
    margin-top: .15rem;
    border: .01rem solid #e5e5e5;
    font-size: 0rem;
}
.skuInfo {
    float: left;
    clear: both;
    width: calc(100%-.41rem);
    margin-top: 0rem;
    padding: 0rem .2rem;
    .title {
        float: left;
        width: 100%;
        padding-top: .23rem;
        padding-bottom: .23rem;
        font-size: .37rem;
        line-height: .28rem;
    }
    ul {
        float: left;
        width: 100%;
        margin-top: .31rem;
        li {
            display: block;
            float: left;
            height: 1rem;
            margin: 0rem .12rem .12rem 0rem;
            text-align: center;
            vertical-align: middle;
        }
        .minus {
            width: .7rem;
            height: .7rem;
            margin: 0rem 0rem .12rem 0rem;
            border: .04rem solid #d9d9d9;
            line-height: .7rem;
            background: url("http://www.iliangcang.com/images/wap/minus10_10.png") no-repeat center center;
            background-size: .15rem .15rem;
        }
        .nums {
            width: 1.09rem;
            height: .7rem;
            margin: 0rem 0rem .12rem 0rem;
            border: .04rem solid #d9d9d9;
            border-right: 0rem;
            border-left: 0rem;
            font-size: .37rem;
            line-height: .7rem;
        }
        .plus {
            width: .7rem;
            height: .7rem;
            margin: 0rem 0rem .12rem 0rem;
            border: .04rem solid #d9d9d9;
            line-height: .7rem;
            background: url("http://www.iliangcang.com/images/wap/add10_10.png") no-repeat center center;
            background-size: .15rem .15rem;
        }
    }
}
